<div>
  <h1>{{message}}</h1>
  <button class="connect">Connect</button><button class="disconnect">Disconnect</button><br>
  <canvas id="paint" width="1024" height="1024"></canvas>
</div>
<script>
			

			$(function () {
				var start = true
				$('.connect').click(function(){
					$.get('/connect');
				});
				$('.disconnect').click(function(){
					$.get('/disconnect');
				});

				var canvas = document.getElementById('paint');
			    if (!canvas) {
			      alert('Error: I cannot find the canvas element!');
			      return;
			    }

			    if (!canvas.getContext) {
			      alert('Error: no canvas.getContext!');
			      return;
			    }

			    // Get the 2D canvas context.
			    var context = canvas.getContext('2d');
			    if (!context) {
			      alert('Error: failed to getContext!');
			      return;
			    }

  				var socket = io.connect('http://localhost:3000');
				socket.on('coord', function (data) {
					if(start) {
						start = false;
						context.moveTo(data.x, data.y);
					} else {
						context.lineTo(data.x, data.y);
        				context.stroke();
					}
					
				});
			})
		</script>